# Python for Finance 2020

MSc in Finance, Universidade Católica Portuguesa

Instructor: João Brogueira de Sousa [jbsousa@ucp.pt]

## Assignment #1

This notebooks contains exercises that cover the material on notebooks 1 to 3. 

You should add your answers below, and the identification of all the group members here:

- Ana Maria Mendes, 152119084, anam.mendes.98@gmail.com
- Group member 2 name, Student ID number, email address
- Group member 3 name, Student ID number, email address
- Group member 4 name, Student ID number, email address

You may add extra cells for your answers when needed.

Note on grading: often, there will be different ways to solve the exercises and arrive at the correct result. Additional points are awarded for a clear and efficient use of Python. For example, a correct solution using only one `for` loop will be awarded more points than a correct solution using two or more `for` loops.

Should you have any questions about this assignment, please write an email to [jbsousa@ucp.pt].

You should submit the solution by sending the notebook by email until Tuesday February 18th 13:00 (GMT).

### Exercise 1

**1.1.** Create the following variables:

- `D`: A `float` with the value 10,000
- `r`: A `float` with value 0.025
- `T`: An `int` with value 30

In [3]:
D=10000.0 #With .0 to ensure will assume float type
r=0.025
T=30

print(
    type(D),
    type(r),
    type(T),
)

<class 'float'> <class 'float'> <class 'int'>

**1.2.** Compute the present discounted value ($PDV$) of a payment $D$ made in $T$ years, assuming an annual effective discount rate of $r=2.5\%$. Save this value in a new variable called `PDV` and print it.

In [4]:
PDV=D/((1+r)**30)
print(PDV)

4767.426851809713

**1.3.** What is the data-type of `PDV`?

In [5]:
type(PDV) #Will be float because it has a non-integer division operation

float

### Exercise 2

Consider the following investment opportunity. One can invest 7,500 USD today (year 0), and will receive 2,000 USD per year starting 5 years from now (year 5) for a period of 5 years, and zero ever after.

**2.1.** Represent the stream of cashflows above using a type `list` variable named `cflows`.

In [6]:
cflows=[-7500,0,0,0,0,2000,2000,2000,2000,2000]
cflows

[-7500, 0, 0, 0, 0, 2000, 2000, 2000, 2000, 2000]

**2.2.** With an annual effective discount rate of $5\%$, what is the net present value (NPV) of this investment? Compute and then store this value in a variable named `NPV`.

In [7]:
aux=sum(cflow/(1+0.05)**year for year,cflow in enumerate(cflows))
NPV=aux
print(str(round(NPV,2))+' USD')

-376.26 USD

**2.3.** Create a list with the discount rates $2\%$, $3\%$, $4\%$, $5\%$ and $6\%$. Compute again the NPV of this investment for all these discount rates.

In [8]:
R=[0.02,0.03,0.04,0.05,0.06]
for r in R:
    NPV=sum(cflow/(1+r)**year for year,cflow in enumerate(cflows))
    print('NPV with r='+str(int(r*100))+'% is equal to '+str(round(NPV,2))+' USD')

NPV with r=2% is equal to 1209.02 USD
NPV with r=3% is equal to 638.02 USD
NPV with r=4% is equal to 110.87 USD
NPV with r=5% is equal to -376.26 USD
NPV with r=6% is equal to -826.83 USD

**2.4.** Define a function named `npv` that takes as parameter variables (`drate` and `cflows` as in `npv(drate, cflows)`): 
- a `float` with the annual effective discount rate (`drate`), 
- a `list` with the cashflows (`cflows`).

This function should return a `float` with the corresponding NPV of the investment. 

Note that the order of the function arguments is relevant.

In [9]:
 def npv(drate,cflows):
    npv=sum(cflow/(1+drate)**year for year,cflow in enumerate(cflows))
    return npv

**2.5.** With the function defined above and, using the bisection method `bisect` available in the `scipy` package imported below, find the breakeven discount rate that corresponds to a NPV of zero.

Note that to use the `bisect(npv,...)` method, you should provide the interval bounds for the bisection method and an additional argument to evaluate function `npv` correctly, specifically `args=cflows`. Learn how to use `bisect` by reading its docstring.

In [10]:
from scipy import optimize

In [11]:
optimize.bisect?

In [12]:
BEdrate=optimize.bisect(
    npv,
    0.06, #Bisection method takes as a and b values for each f(a) and f(b) switchs signs
    0.02, #This way, being a function with just one zero, we know its zero will be in between a and b for sure
    args=cflows #Since our function has multiple arguments
)
#Understood idea of this method here https://www.youtube.com/watch?v=QcuVPbN4_Vk
print('The breakeven discount rate that corresponds to a NPV of zero, for the given stream of cash flows, is '+str(round(BEdrate*100,2))+'%.')

The breakeven discount rate that corresponds to a NPV of zero, for the given stream of cash flows, is 4.22%.

### Exercise 3

**3.1.** Write a function named `P`, taking as inputs:
1. a `list` of arbitrary length $n$ named `d`, representing a dividend stream over time $d_t$, and 
2. a `float` or `int` named `i`, representing the effective discount rate $i$. 

This function should return the price $P$, given by the present value of the dividend stream:

$$ P = \sum_{t=0}^{n-1} \dfrac{d_t}{(1+i)^t} $$

In [13]:
def P(dt,i):
    P=sum(d/(1+i)**year for year,d in enumerate(dt)) #Not sure if first is in t=0 or t=1, if t=1 will need to put (year+1) before **
    return P

**3.2.** Modify your function such that it prints a string:

- with the message 'Dividend stream must be `list`!', if the parameter variable is not a `list` for the dividends, or
- with 'Discount rate must be `float` or `int`!', if the variable is not one of the two types for the case of the discount rate.

In [14]:
def P(dt,i):
    if not type(dt) == list:
        print('Dividend stream must be list!')
    if not (type(i) == int or type(i) == float):
        print('Discount rate must be float or int!')
    if (type(dt) == list) and (type(i) == float or type(i) == int):
        P=sum(d/(1+i)**year for year,d in enumerate(dt))
    return P

**3.3.** Discribe your function and its required input and output variables by writing its Docstring.

In [15]:
def P(dt,i):
    '''Computes the Price of a stock, given the present value of its dividend stream.
    
    Parameters
    ----------
    dt: list
        contains the dividend stream over time
    i: float or int
       effective discount rate applicable to the stream of dividends
       
    Returns
    ----------
    P: float
       the price of the stock
       
    Example
    ----------
    dt=[300,150,600,0,1100]
    P(dt,0.11)
    1646.7126666410682
        
    ----------'''
    if not type(dt) == list:
        print('Dividend stream must be list!')
    if not (type(i) == float or type(i) == float):
        print('Discount rate must be float or int!')
    if (type(dt) == list) and (type(i) == float or type(i) == int):
        P=sum(d/(1+i)**year for year,d in enumerate(dt))
    return P

P?

### Exercise 4

In this exercise you will work with daily data about the SP500 index, contained in the file **^GSPC.csv** available in the course's [GitHub repo](https://github.com/jbrogueira/pyfin2020).

Do make sure you use the correct path to access the file when you want to import the data.

**4.1.** Import `pandas` and read the data in **^GSPC.csv** into a DataFrame named `sp500`. Inspect the first 3 rows of the DataFrame by using the method `head()`.

In [16]:
import pandas as pd

sp500 = pd.read_csv('^GSPC.csv')
sp500.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-02-11,2712.399902,2718.050049,2703.790039,2709.800049,2709.800049,3361970000
1,2019-02-12,2722.610107,2748.189941,2722.610107,2744.729980,2744.729980,3827770000
2,2019-02-13,2750.300049,2761.850098,2748.629883,2753.030029,2753.030029,3670770000

**4.2.** Use the method `mean` to compute the mean of all the columns of `sp500`.

In [45]:
sp500.mean().apply(lambda x: '%.2f' % x) #format change seen here https://re-thought.com/how-to-suppress-scientific-notation-in-pandas/

# why doesn't this work? - {0:.2f}'.format(a) - learned here https://stackoverflow.com/questions/7801586/print-a-float-number-in-normal-form-not-exponential-form-scientific-notation

Open               2983.84
High               2995.49
Low                2971.84
Close              2984.99
Adj Close          2984.99
Volume       3522499734.84
Roll Mean          2982.99
SMA                   0.37
dtype: object

**4.3.** We can easily compute rolling statistics using Pandas. For example, suppose we are interested in calculating a rolling mean value of a series with a window of 10 periods. If this series is stored in column `A` of a DataFrame `df`, we can easily do it with:

```python
df['A'].rolling(window=10).mean()
```

Add a new column to `sp500` with a rolling mean of the Close level of the SP500, and label it `'Roll Mean'`.

In [41]:
sp500['Roll Mean']=sp500['Close'].rolling(window=10).mean()
sp500

,Date,Open,High,Low,Close,Adj Close,Volume,Roll Mean
0,2019-02-11,2712.399902,2718.050049,2703.790039,2709.800049,2709.800049,3361970000,NaN
1,2019-02-12,2722.610107,2748.189941,2722.610107,2744.729980,2744.729980,3827770000,NaN
2,2019-02-13,2750.300049,2761.850098,2748.629883,2753.030029,2753.030029,3670770000,NaN
3,2019-02-14,2743.500000,2757.899902,2731.229980,2745.729980,2745.729980,3836700000,NaN
4,2019-02-15,2760.239990,2775.659912,2760.239990,2775.600098,2775.600098,3641370000,NaN
...,...,...,...,...,...,...,...,...
248,2020-02-05,3324.909912,3337.580078,3313.750000,3334.689941,3334.689941,4117730000,3280.465967
249,2020-02-06,3344.919922,3347.959961,3334.389893,3345.780029,3345.780029,3868370000,3282.489966
250,2020-02-07,3335.540039,3341.419922,3322.120117,3327.709961,3327.709961,3730650000,3285.713965
251,2020-02-10,3318.280029,3352.260010,3317.770020,3352.090088,3352.090088,3450350000,3296.559985
252,2020-02-11,3365.870117,3375.629883,3357.989990,3358.020020,3358.020020,1175962914,3304.737988

**4.4.** Add a new column to `sp500` with label `'SMA'` with the following data:

- 0, if `'Roll Mean'` is not defined,
- 1, in days in which the Close level of the SP500 is *above* the `'Roll Mean'`,
- -1, in days in which the Close level of the SP500 is *below* the `'Roll Mean'`.

In [42]:
import numpy as np
conditions = [
    (sp500['Close'] > sp500['Roll Mean']),
    (sp500['Close'] < sp500['Roll Mean'])]
choices = [1, -1]
sp500['SMA'] = np.select(conditions, choices, default=0) #Should NaN case be set as the default one? Or make additional statement? Cause I think we don't account for 1 possibility which is Close=RollMean, so may appear 0 in SMA col but that may not necessarily mean RollMean NaN may just be that Close=RollMean
#sp500['SMA']=np.where(sp500['Close']>sp500['Roll Mean'], 1, -1) for TWO conditions only
#code from https://stackoverflow.com/questions/19913659/pandas-conditional-creation-of-a-series-dataframe-column
sp500

,Date,Open,High,Low,Close,Adj Close,Volume,Roll Mean,SMA
0,2019-02-11,2712.399902,2718.050049,2703.790039,2709.800049,2709.800049,3361970000,NaN,0
1,2019-02-12,2722.610107,2748.189941,2722.610107,2744.729980,2744.729980,3827770000,NaN,0
2,2019-02-13,2750.300049,2761.850098,2748.629883,2753.030029,2753.030029,3670770000,NaN,0
3,2019-02-14,2743.500000,2757.899902,2731.229980,2745.729980,2745.729980,3836700000,NaN,0
4,2019-02-15,2760.239990,2775.659912,2760.239990,2775.600098,2775.600098,3641370000,NaN,0
...,...,...,...,...,...,...,...,...,...
248,2020-02-05,3324.909912,3337.580078,3313.750000,3334.689941,3334.689941,4117730000,3280.465967,1
249,2020-02-06,3344.919922,3347.959961,3334.389893,3345.780029,3345.780029,3868370000,3282.489966,1
250,2020-02-07,3335.540039,3341.419922,3322.120117,3327.709961,3327.709961,3730650000,3285.713965,1
251,2020-02-10,3318.280029,3352.260010,3317.770020,3352.090088,3352.090088,3450350000,3296.559985,1
252,2020-02-11,3365.870117,3375.629883,3357.989990,3358.020020,3358.020020,1175962914,3304.737988,1